[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-autoslug = "*"
django-debug-toolbar = "*"
django-model-utils = "*"
factory-boy = "*"
ipython= "*"
pillow= "*"
psycopg2 ="*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.10"
